#adskldapsync tr:hover {
    background-color: #f8f8f8;    
}
#adskldapsync th {
    color: grey;
}
#adskldapsync th:hover {
    background-color: #f8f8f8;
}

#LdapGroupSyncStatus {
    margin-bottom: 10px;
    margin-top: 10px;
}

.adskldapsync_heading {
    font-weight: bold;
    font-size: 18px;
}

.adskldapsync_question {
    background-image: url('images/question.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline-block;
    vertical-align: middle;
    background-position: 50% 50%;
}

.adskldapsync_run {
    background-image: url('images/play.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;
    display: inline-block;
    float: right;
    margin-left: 5px;
    vertical-align: middle;
    background-position: 50% 50%;
}

.adskldapsync_recache {
    background-image: url('images/cache.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline;
    vertical-align: middle;
    background-position: 50% 50%;
    float: right;
}

.adskldapsync_schedule {
    background-image: url('images/calendar.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline;
    vertical-align: middle;
    background-position: 50% 50%;
    float: right;
}

.adskldapsync_config_edit {
    background-image: url('images/cache.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline;
    vertical-align: middle;
    background-position: 50% 50%;
    float: right;
}

.adskldapsync_edit {
    background-image: url('images/edit.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline;
    vertical-align: middle;
    background-position: 50% 50%;
    float: right;
}

.adskldapsync_delete {
    background-image: url('images/delete.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline;
    vertical-align: middle;
    background-position: 50% 50%;
    float: right;
}

.adskldapsync_help {
    background-image: url('images/help.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline-block;
    vertical-align: middle;
    background-position: 50% 50%;
}

.adskldapsyncconfig_count_span {
    float: right;
    border-radius: 3px;
    background-color: green;
    padding: 2px;
    color: #fff;
}

.adskldapsyncconfig_search_div {
    border-radius: 2px;
    display: inline;
    /*float: right;*/
}

.adskldapsyncconfig_search_div input {    
    height: 16px;
    padding: 2px;
    width: 250px;
}