#disable_html_escaping()
<html>
<head>
    <title>$i18n.getText("jira.ldap.group.sync.run.option.label")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("com.adsk.jira.ldapgroupsync.plugin.jira-ldap-group-sync-plugin:jira-ldap-group-sync-plugin-resources")
    <script>
        function prepareRun() {
            AJS.$("#runStatus").html("Running").stop().show();
        }
    </script>
</head>
<body>


<p>
    <a class="aui-button" href="/secure/LdapGroupSyncMapAction.jspa">Go Back</a>
<p>

<p>
<span class="adskldapsync_heading">$i18n.getText("jira.ldap.group.sync.run.option.label")</span>
<a href="https://github.com/Autodesk/jira-ldap-group-sync-plugin/wiki/Run-On-demand-Sync" target="_blank"
    class="adskldapsync_question" title="LDAP On-demand Group Sync Documentation"></a>
</p>

<div id="ldapGroupSyncRun">
<form id="admin" class="aui" method="post" action="LdapGroupSyncRunAction.jspa" >
<div class="field-group">
    <label for="ldap_group">
        $i18n.getText("jira.ldap.group.sync.run.option.ldap_group.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="ldapGroup" name="ldapGroup" class="text long-field" />
    <div class="description">$i18n.getText("jira.ldap.group.sync.run.option.ldap_group.description")</div>
</div>

<div class="field-group">
    <label for="jira_group">
        $i18n.getText("jira.ldap.group.sync.run.option.jira_group.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="jiraGroup" name="jiraGroup" class="text long-field" />
    <div class="description">$i18n.getText("jira.ldap.group.sync.run.option.jira_group.description")</div>
</div>

<div class="aui-buttons">
    <input class="aui-button aui-button-primary" type="submit" name="submitted" value="Run &rarr;" onClick="prepareRun();"/>
</div>
</form>
</div>


<!-- config status -->
<p id="runStatus" style="background-color:#E0FFFF;">$!status</p>

</body>
</html>
