#disable_html_escaping()
<html>
<head>
    <title>$i18n.getText("jira.ldap.group.sync.maps.option.label")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("com.adsk.jira.ldapgroupsync.plugin.jira-ldap-group-sync-plugin:jira-ldap-group-sync-plugin-resources")
    <script>
        function prepareAdd() {
            AJS.$("#AdskLDAPGroupMapSchedule").stop().slideUp();
            AJS.$("#AdskLDAPGroupMapDel").stop().slideUp();
            AJS.$("#AdskLDAPGroupMapAdd").stop().slideDown();
            AJS.$("#AdskLDAPGroupMapEdit").stop().slideUp();
        }
        function prepareEdit(configId, ldapGroup, jiraGroup) {
            AJS.$("#AdskLDAPGroupMapSchedule").stop().slideUp();
            AJS.$("#AdskLDAPGroupMapDel").stop().slideUp();
            AJS.$("#AdskLDAPGroupMapAdd").stop().slideUp();
            AJS.$("#AdskLDAPGroupMapEdit").stop().slideDown();
            AJS.$("#AdskLDAPGroupMapEditForm input[name='configId']").val(configId);
            AJS.$("#AdskLDAPGroupMapEditForm input[name='configIds']").val(configId);
            AJS.$("#AdskLDAPGroupMapEditForm input[name='ldapGroup']").val(ldapGroup);
            AJS.$("#AdskLDAPGroupMapEditForm input[name='jiraGroup']").val(jiraGroup);
            location.hash = "#AdskLDAPGroupMapEdit";
        }
        
        function prepareDelete(configId, oktaGroup, jiraGroup) {
            AJS.$("#AdskLDAPGroupMapSchedule").stop().slideUp();
            AJS.$("#AdskLDAPGroupMapDel").stop().slideDown();
            AJS.$("#AdskLDAPGroupMapAdd").stop().slideUp();
            AJS.$("#AdskLDAPGroupMapEdit").stop().slideUp();
            AJS.$("#AdskLDAPGroupMapDelForm input[name='configId']").val(configId);
            AJS.$("#AdskLDAPGroupMapDelForm input[name='configIds']").val(configId);
            AJS.$("#AdskLDAPGroupMapDelForm input[name='oktaGroup']").val(oktaGroup);
            AJS.$("#AdskLDAPGroupMapDelForm input[name='jiraGroup']").val(jiraGroup);
            location.hash = "#LDAPGroupMapDel";
        }

        function prepareSchedule() {
            AJS.$("#AdskLDAPGroupMapDel").stop().slideUp();
            AJS.$("#AdskLDAPGroupMapAdd").stop().slideUp();
            AJS.$("#AdskLDAPGroupMapEdit").stop().slideUp();
            AJS.$("#AdskLDAPGroupMapSchedule").stop().slideDown();
            location.hash = "#AdskLDAPGroupMapSchedule";
        }
    </script>
</head>
<body>

<p>
<span class="adskldapsync_heading">$i18n.getText("jira.ldap.group.sync.maps.option.label")</span>
<a href="https://github.com/Autodesk/jira-ldap-group-sync-plugin/wiki/Configure-Automatic-Sync" target="_blank"
    class="adskldapsync_question" title="LDAP Group Sync Plugin Documentation"></a>

<a href="#" class="adskldapsync_schedule" onClick="prepareSchedule()" 
    title="Configure Sync Schedule"></a>

<a class="adskldapsync_add" href="#" onClick="prepareAdd()" 
    title="Add New LDAP Group Auto Sync Map"></a>

<a class="adskldapsync_run" href="/secure/LdapGroupSyncRunAction.jspa" title="Run On-demand LDAP and JIRA Group Sync"></a>
</p>

<!-- options ADD -->

<div id="AdskLDAPGroupMapAdd" style="display: none;">
<form id="AdskLDAPGroupMapAddForm" class="aui" method="post" action="LdapGroupSyncMapAction.jspa" >
<div class="field-group">
    <label for="ldap_group">
        $i18n.getText("jira.ldap.group.configure.option.ldap_group.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="ldapGroup" name="ldapGroup" class="text long-field" 
        placeholder="Enter distribution email list alias or LDAP security group name" required/>
</div>
<div class="field-group">
    <label for="jira_group">
        $i18n.getText("jira.ldap.group.configure.option.jira_group.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="jiraGroup" name="jiraGroup" class="text long-field" 
        placeholder="Your JIRA Group Name" required/>
</div>
<div class="aui-buttons">
    <input class="aui-button aui-button-primary" type="submit" name="submitted" value="ADD" />
</div>
</form>
</div>

<!-- options Edit -->

<div id="AdskLDAPGroupMapEdit" style="display: none;">
<form id="AdskLDAPGroupMapEditForm" class="aui" method="post" action="LdapGroupSyncMapAction.jspa" >
<input type="hidden" id="configId" name="configId" class="text" value="0" />
<div class="field-group">
    <label for="ldap_group">
        $i18n.getText("jira.ldap.group.configure.option.ldap_group.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="ldapGroup" name="ldapGroup" class="text long-field" 
        placeholder="Enter distribution email list alias or LDAP security group name" required/>
</div>
<div class="field-group">
    <label for="jira_group">
        $i18n.getText("jira.ldap.group.configure.option.jira_group.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="jiraGroup" name="jiraGroup" class="text long-field" 
        placeholder="Your JIRA Group Name" required/>
</div>
<div class="aui-buttons">
    <input class="aui-button aui-button-primary" type="submit" name="submitted" value="Save" />
</div>
</form>
</div>


<!-- Delete Mapping ID -->
<div id="AdskLDAPGroupMapDel" style="display: none;">
<form id="AdskLDAPGroupMapDelForm" class="aui" method="post" action="LdapGroupSyncMapAction.jspa" >
<input type="hidden" id="configId" name="configId" class="text" value="0" />
<div class="field-group">
    <label for="ldap_group">
        $i18n.getText("jira.ldap.group.configure.option.ldap_group.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="ldapGroup" name="ldapGroup" class="text long-field" 
        placeholder="Enter distribution email list alias or LDAP security group name" disabled=""/>
</div>
<div class="field-group">
    <label for="jira_group">
        $i18n.getText("jira.ldap.group.configure.option.jira_group.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="jiraGroup" name="jiraGroup" class="text long-field" 
        placeholder="Your JIRA Group Name" disabled=""/>
</div>
<div class="field-group">
    <label for="configId">
        $i18n.getText("jira.ldap.group.configure.option.configId.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="configIds" name="configIds" class="text" disabled=""/>
</div>
<div class="aui-buttons">
    <input class="aui-button aui-button-primary" type="submit" name="submitted" value="DELETE" />
</div>
</form>
</div>

<!-- Configure Schedule -->
<div id="AdskLDAPGroupMapSchedule" style="display: none;">
<form id="AdskLDAPGroupMapScheduleForm" class="aui" method="post" action="LdapGroupSyncMapAction.jspa" >
<div class="field-group">
    <label for="interval">
        $i18n.getText("jira.ldap.group.configure.option.interval.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="number" id="interval" name="interval" class="text" min="1" value="$!interval" />
</div>
<div class="aui-buttons">
    <input class="aui-button aui-button-primary" type="submit" name="submitted" value="Schedule" />
</div>
</form>
</div>


<!-- config status -->
#if( $!status )
    <p class="aui-message">$!status</p>
#end

<p>
<span class="adskldapsyncconfig_count_span">Count &diams; <span id="adskldapsyncconfig_count">$configList.size()</span></span>
<div class="adskldapsyncconfig_search_div">
    <input type="text" id="adskldapsyncconfig_search" placeholder=" Search" onkeyup="adskldapsyncconfig_filter();" />
</div>
</p>

<!-- config display -->

<table id="adskldapsync_configs" class="aui">
    <tr><th>Config ID</th><th>LDAP Group Name</th><th>JIRA Group Name</th><th>Active?</th><th></th></tr>
    #foreach ($entry in $configList)
        <tr>
        <td>$entry.configId</td><td>$entry.ldapGroup</td><td>$entry.jiraGroup</td><td>$entry.support</td>
        <td>
            <a class="adskldapsync_edit" title="Edit Map Configuration" href="#"
                onClick="prepareEdit('$entry.configId', '$textutils.htmlEncode($entry.ldapGroup)', 
                        '$textutils.htmlEncode($entry.jiraGroup)')"></a>
            <a class="adskldapsync_delete" href="#" title="Delete Config" 
                onClick="prepareDelete('$entry.configId', '$textutils.htmlEncode($entry.ldapGroup)')"></a>
        </td>        
        </tr>
    #end
</table>

</body>
</html>
