#disable_html_escaping()
<html>
<head>
    <title>$i18n.getText("jira.ldap.group.configure.option.label")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("com.adsk.jira.ldapgroupsync.plugin.jira-ldap-group-sync-plugin:jira-ldap-group-sync-plugin-resources")
    <script>
        function prepareEdit() {
            AJS.$("#LdapConfigDisplay").stop().hide();
            AJS.$("#LdapConfigEdit").stop().show();
        }
        function prepareCancel() {
            AJS.$("#LdapConfigDisplay").stop().show();
            AJS.$("#LdapConfigEdit").stop().hide();
        }        
    </script>   
</head>
<body>

<p>
<span class="adskldapsync_heading">$i18n.getText("jira.ldap.group.configure.option.label")</span>

<p>
    <a class="aui-button" href="LdapGroupSyncMapAction.jspa">Back to Manage LDAP Group Sync</a>
<p>

<a href="https://github.com/Autodesk/jira-ldap-group-sync-plugin/wiki/Configure-LDAP-Connection" target="_blank"
    class="adskldapsync_question" title="LDAP Connection Configure Documentation"></a>
<a class="adskldapsync_config_edit" href="#" onClick="prepareEdit();" title="LDAP Configuration Edit"></a>
</p>

<!-- config display -->

<div id="LdapConfigDisplay">
<form id="LdapConfigDisplayForm" class="aui" method="post" action="LdapGroupSyncConfigAction.jspa">
<div class="field-group">
    <label for="disabled-field-id">
        $i18n.getText("jira.ldap.group.configure.option.ldap_url.label"):
    </label>
    <input type="text" id="disabled-field-id" name="ldap_url" class="text long-field" value="$!ldap_url" disabled=""/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.ldap_url.description")</div>
</div>

<div class="field-group">
    <label for="disabled-field-id">
        $i18n.getText("jira.ldap.group.configure.option.security_principal.label"):
    </label>
    <input type="text" id="disabled-field-id" name="security_principal" class="text long-field" value="$!security_principal" disabled=""/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.security_principal.description")</div>
</div>

<div class="field-group">
    <label for="disabled-field-id">
        $i18n.getText("jira.ldap.group.configure.option.security_password.label"):
    </label>
    <input type="password" id="disabled-field-id" name="security_password" class="text" value="$!security_password" disabled=""/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.security_password.description")</div>
</div>

<div class="field-group">
    <label for="disabled-field-id">
        $i18n.getText("jira.ldap.group.configure.option.base_dn.label"):
    </label>
    <input type="text" id="disabled-field-id" name="base_dn" class="text long-field" value="$!base_dn" disabled=""/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.base_dn.description")</div>
</div>

<div class="field-group">
    <label for="disabled-field-id">
        $i18n.getText("jira.ldap.group.configure.option.group_search_filter.label"):
    </label>
    <input type="text" id="disabled-field-id" name="groupSearch_filter" class="text long-field" value="$!groupSearch_filter" disabled=""/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.group_search_filter.description")</div>
</div>

<div class="field-group">
    <label for="disabled-field-id">
        $i18n.getText("jira.ldap.group.configure.option.group_member_search_filter.label"):
    </label>
    <input type="text" id="disabled-field-id" name="groupMemberSearch_filter" class="text long-field" value="$!groupMemberSearch_filter" disabled=""/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.group_member_search_filter.description")</div>
</div>

<div class="field-group">
    <label for="disabled-field-id">
        $i18n.getText("jira.ldap.group.configure.option.user_member_search_filter.label"):
    </label>
    <input type="text" id="disabled-field-id" name="userMemberSearch_filter" class="text long-field" value="$!userMemberSearch_filter" disabled=""/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.user_member_search_filter.description")</div>
</div>

<div class="field-group">
    <label for="disabled-field-id">
        $i18n.getText("jira.ldap.group.configure.option.user_attr.label"):
    </label>
    <input type="text" id="disabled-field-id" name="member_attr" class="text" value="$!user_attr" disabled=""/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.user_attr.description")</div>
</div>

<div class="field-group">
    <label for="disabled-field-id">
        $i18n.getText("jira.ldap.group.configure.option.is_nested.label"):
    </label>
    <select id="isNested" name="isNested" class="text" disabled="">
        #foreach ($option in ["FALSE", "TRUE"])
            <option value="$option"
            #if ($option && $option == $isNested)selected#end
            >$option</option>
        #end
    </select>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.is_nested.description")</div>
</div>

<!--<div class="aui-buttons">
    <input class="aui-button aui-button-primary" type="button" name="edit" value="Edit &uarr;" onClick="prepareEdit();" /> 
</div>-->
</form>
</div>



<!-- config edit -->


<div id="LdapConfigEdit" style="display: none;">
<form id="LdapConfigEditForm" class="aui" method="post" action="LdapGroupSyncConfigAction.jspa" >
<div class="field-group">
    <label for="ldap_url">
        $i18n.getText("jira.ldap.group.configure.option.ldap_url.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="ldap_url" name="ldap_url" class="text long-field" value="$!ldap_url" required/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.ldap_url.description")</div>
</div>

<div class="field-group">
    <label for="security_principal">
        $i18n.getText("jira.ldap.group.configure.option.security_principal.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="security_principal" name="security_principal" class="text long-field" value="$!security_principal" required/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.security_principal.description")</div>
</div>

<div class="field-group">
    <label for="security_password">
        $i18n.getText("jira.ldap.group.configure.option.security_password.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="password" id="security_password" name="security_password" class="text" value="$!security_password" required/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.security_password.description")</div>
</div>

<div class="field-group">
    <label for="base_dn">
        $i18n.getText("jira.ldap.group.configure.option.base_dn.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="base_dn" name="base_dn" class="text long-field" value="$!base_dn" required/>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.base_dn.description")</div>
</div>

<div class="field-group">
    <label for="group_search_filter">
        $i18n.getText("jira.ldap.group.configure.option.group_search_filter.label"):
    </label>
    <input type="text" id="groupSearch_filter" name="groupSearch_filter" class="text long-field" value="$!groupSearch_filter" />
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.group_search_filter.description")</div>
</div>

<div class="field-group">
    <label for="group_member_search_filter">
        $i18n.getText("jira.ldap.group.configure.option.group_member_search_filter.label"):
    </label>
    <input type="text" id="groupMemberSearch_filter" name="groupMemberSearch_filter" class="text long-field" value="$!groupMemberSearch_filter" />
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.group_member_search_filter.description")</div>
</div>

<div class="field-group">
    <label for="user_member_search_filter">
        $i18n.getText("jira.ldap.group.configure.option.user_member_search_filter.label"):
    </label>
    <input type="text" id="userMemberSearch_filter" name="userMemberSearch_filter" class="text long-field" value="$!userMemberSearch_filter" />
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.user_member_search_filter.description")</div>
</div>

<div class="field-group">
    <label for="user_attr">
        $i18n.getText("jira.ldap.group.configure.option.user_attr.label"):
    </label>
    <input type="text" id="user_attr" name="user_attr" class="text" value="$!user_attr" />
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.user_attr.description")</div>
</div>

<div class="field-group">
    <label for="isNested">
        $i18n.getText("jira.ldap.group.configure.option.is_nested.label"):
    </label>
    <select id="isNested" name="isNested" class="text">
        #foreach ($option in ["FALSE", "TRUE"])
            <option value="$option"
            #if ($option && $option == $isNested)selected#end
            >$option</option>
        #end
    </select>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.is_nested.description")</div>
</div>

<div class="aui-buttons">
    <input class="aui-button aui-button-primary" type="submit" name="submitted" value="Save &rarr; Initialize" />
    <input class="aui-button" type="reset" name="reset" value="Reset" />
    <input class="aui-button" type="button" name="cancel" value="Cancel" onClick="prepareCancel();" />
</div>
</form>

</div>

<!-- config status -->
<p style="background-color:#E0FFFF;">$!status</p>

</body>
</html>
