#disable_html_escaping()
<html>
<head>
    <title>$i18n.getText("jira.ldap.group.sync.maps.option.label")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()" />
    $webResourceManager.requireResourcesForContext($i18n.getText("jira-ldap-group-sync-plugin-resources.context"))
</head>
<body>

<h2>$i18n.getText("jira.ldap.group.sync.maps.option.label")</h2>

<!-- options ADD -->

<div id="ldapGroupMapEdit">
<form id="admin" class="aui" method="post" action="LdapGroupSyncMapAction.jspa" >
<div class="field-group">
    <label for="ldap_group">
        $i18n.getText("jira.ldap.group.configure.option.ldap_group.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="ldapGroup" name="ldapGroup" class="text long-field" />
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.ldap_group.description")</div>
</div>
<div class="field-group">
    <label for="jira_group">
        $i18n.getText("jira.ldap.group.configure.option.jira_group.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="jiraGroup" name="jiraGroup" class="text long-field" />
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.jira_group.description")</div>
</div>
<div class="field-group">
    <label for="support">
        $i18n.getText("jira.ldap.group.configure.option.support.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <select id="support" name="support" class="text">
        <option value="false">FALSE</option>
        <option value="true">TRUE</option>
    </select>
    <div class="description">$i18n.getText("jira.ldap.group.configure.option.support.description")</div>
</div>
<div class="aui-buttons">
    <input class="aui-button" type="submit" name="submitted" value="ADD" />
</div>
</form>
</div>


<!-- config status -->
<p style="background-color:#E0FFFF;">$!status</p>

<br/>

<!-- config display -->

<div id="ldapGroupMapDisplay">
<table class="aui">
    <tr><th>Mapping ID</th><th>LDAP Group Name</th><th>JIRA Group Name</th><th>Supported?</th></tr>
    #foreach ($entry in $mapsList)
        <tr><td>$entry.ID</td><td>$entry.ldapGroup</td><td>$entry.jiraGroup</td><td>$entry.support</td></tr>
    #end
</table>
</div>


<br/>

<!-- Delete Mapping ID -->
<div id="ldapGroupMapDelete">
<form id="admin2" class="aui" method="post" action="LdapGroupSyncMapAction.jspa" >
<div class="field-group">
    <label for="mapId">
        $i18n.getText("jira.ldap.group.configure.option.map_id.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="mapId" name="mapId" class="text" />
    <input class="aui-button" type="submit" name="submitted" value="DEL" />
</div>
</form>
</div>

</body>
</html>
